.exit-image-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.exit-image-container > img {
  width: 5%;
  cursor: pointer;
  padding: .2em;
  display: flex;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.exit-image-container > img:hover {
  background-color: rgb(230, 229, 229);
}

.button.login-request {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  padding: 1em 0;
  border-radius: .5em;
  width: 95%;
  max-width: 95%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 1em;
}

.button.login-request:active {
  transform: scale(.97);
}
