form.update-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  padding: 1.8em;
  width: 25em;
  max-width: 33em;
}


.submit-button.update:active {
  transform: scale(.97);
}

.submit-button.update {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  margin-top: 2em;
  min-width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-button.update:active {
  transform: scale(.97);
}


.form-input.last.desc:focus {
  outline: none !important;
  box-shadow: 0 0 5px #719ECE;
}
textarea.form-input.last.desc.update {
  resize: none;
  min-height: 6rem;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  padding: 1em;
}

span.add-images.update {
  font-size: .9rem;
  display: inline-block;
  margin: 1em 0 .5em 0;
}


.preview-images-container.update {
  max-height: 7em;
  width: 100%;
  margin-top: 1em;
  overflow-y: auto;
}

.preview.image.update {
  width: 5em;
  max-width: 5em;
  height: 5em;
  max-height: 5em;
}

.submit-button.update:disabled {
  border: 1px solid #999999;
  background: linear-gradient(0.25turn, #7b7b7b, #4c4b4b);
  color: rgb(218, 217, 217);
  cursor: not-allowed;
}
