.review-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0 0 4px rgb(195 195 195);
  position: relative;

  border-radius: .7em;
  padding: 1em;
  box-sizing: border-box;
}
.review-container {
  width: 49%;
  height: 220px;
}

.review-user-info-container {
  display: flex;
  gap: .8em;
  width: 100%;
  height: 20%;
}

.review-user-info-container > img {
  width: 6%;
}

.review-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-name {
  text-transform: capitalize;
}

.review-date {
  color: #717171;
  font-size: .82rem;
}

.review-options {
  display: flex;
  gap: .7em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.review-options > span {
  text-decoration: underline;
  color: rgb(156, 155, 155);
  cursor: pointer;
  font-size: .9rem;
}
