div.svg-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


img.svg-logo {
  max-height: 3em;
  max-width: 2.6em;
}

img.svg-logo-name {
  max-height: 5em;
  max-width: 3.8em;
}

nav.main-navbar {
  position: sticky;
  width: 100%;
  background-color: #ffffff;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(234, 229, 229);
  height: 4em;
  z-index: 20;
}
.navbar-content-wrapper {
  display: flex;
  width: 70em;
  justify-content: space-between;
}

.navbar-content-home {
  display: flex;
  width: 1600px;
  box-sizing: border-box;
  padding: 0 1em;
  justify-content: space-between;
}
